html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    background: #111;
    color: #ddd;
}

#container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: block;
}